body {
  background-image: url('images/2amis.jpg');
  font-family: 'Arial', sans-serif;
  color: #FFFFFF;
}

#header {
  background-color: #FF6600;
  height: 100px;
}

#content {
  background-color: #FFFFFF;
  padding: 20px;
}

#footer {
  background-color: #FF6600;
  height: 50px;
}
